#teamDiv{
    gap: 20px;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    background-color: #d0bdf4;
    min-width: 230px;
}

.jumbotron{
    background-color: #a0d2eb;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
}

body {
    background-color: #e5eaf5;
}

.card-header{
    background-color: #8458B3;
}

.list-group-item{
    background-color: #8458B3;
}

a{
    color: lightseagreen;
}


